/* ********** Responsive Grid ********** */

.u-responsiveGrid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


/* ********** Responsive Flexbox ********** */

.u-responsiveFlexbox {
    display: flex;
    flex-wrap: wrap;
    &>* {
        flex: 1 1 200px;
    }
}

.u-message {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    @include mq(m) {
        font-size: 1.5rem;
    }
}